<html lang="en" class="h-full bg-gray-100"  data-theme="night">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <title>Gypsy Poker</title>
    <link rel="stylesheet" href="/assets/main.bundle.css">
    <link href="/assets/css/styles.css" rel="stylesheet">
    <link href="/assets/css/pyro.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
    <link rel="mask-icon" href="/assets/img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body class="bg-base-100">
  {% include "header.njk" %}
  
     {% block body %}
    <div class="m-auto container bg-base-100">
      {{ content | safe }}
    </div>
  {% endblock %}
  
  </div>
</body>
</html>
