<div class=" flex justify-center items-center">
<div class="w-full md:max-w-4xl shadow">

<div class="px-1">
  <div class="bg-accent-content flex justify-between items-center h-16 p-4 my-6 shadow-md">
    <div class="flex items-center">
    <div class="ml-2">
      <div class="text-sm font-semibold text-accent-focus">Gypsy Table I</div>
      <div class="text-sm font-light text-base-content">Total seats: 6</div>
    </div>
    </div>
    <div>
        <input id="gameCode" type="text" class="hidden" value="beta" />
      <button class="btn btn-outline justify-center items-center" type="submit" name="joinGame">
        Join Game
      </button>
    </div>
  </div>
  
  <div class="flex bg-gray-200 justify-center items-center h-16 p-4 my-6  rounded-lg  shadow-inner">
    <div class="flex items-center border border-gray-400 p-2 border-dashed rounded cursor-pointer">
    <div>
      <svg class="text-gray-500 w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
    </svg>
    </div>
      <div class="ml-1 text-gray-500 font-medium"> Invite a friend</div>
    </div>
  </div>
</div>
</div>
</div>