{% set title = 'TEst' %}
{% extends "layout.njk" %}

{% block body %}
<main class="">
  <div class="hero min-h-11" style="background-image: url(https://www.888poker.com/magazine/sites/magazine.888poker.com/files/styles/hp_headline_big/public/2022-09/888live-costa-brava---main-event-day-1-67.jpg?itok=7AZ0SzWd);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <img src="https://zazamap.com/wp-content/uploads/2022/09/9cups.jpg" alt="" class="w-20 tp-rs-img rs-lazyload" width="50" data-lazyload="//zazamap.com/wp-content/uploads/2022/09/9cups.jpg" data-no-retina="" data-reference="//zazamap.com/wp-content/uploads/2022/09/9cups.jpg" data-src-rs-ref="//zazamap.com/wp-content/uploads/2022/09/9cups.jpg" >
    </div>
  </div>
</div>
<div class="">
  <div class="flex justify-center">
    
  </div>
  <h2 class="font-bold text-4xl text-center pt-8">Gypsy Poker</h2>
  <p class="mb-4 text-center">Texas Hold 'em</p>
  <form class=" shadow-md rounded px-2 pt-6 pb-8 mb-4" action="/joinGame" method="POST">
    <p class="mb-4">Enter your name to join a table.</p>
   
    <div class="mb-4">
      <label class="block text-gray-300 text-sm font-bold mb-2" for="firstName">
        Name
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="firstName" id="firstName" type="text" placeholder="enter your name" value="{{user.firstName}}">
    </div>
    
    {% include 'views/table-list.njk'%}
  </form>
</div>



</main>
{% endblock %}
