{% set title = 'Wallet' %}
{% extends "layout.njk" %}

{% block body %}
<main class="">
    <div class="hero min-h-11" style="background-image: url(https://www.888poker.com/magazine/sites/magazine.888poker.com/files/styles/hp_headline_big/public/2022-09/888live-costa-brava---main-event-day-1-67.jpg?itok=7AZ0SzWd);">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
        <img src="https://zazamap.com/wp-content/uploads/2022/09/9cups.jpg" alt="" class="w-20 tp-rs-img rs-lazyload" width="50" data-lazyload="//zazamap.com/wp-content/uploads/2022/09/9cups.jpg" data-no-retina="" data-reference="//zazamap.com/wp-content/uploads/2022/09/9cups.jpg" data-src-rs-ref="//zazamap.com/wp-content/uploads/2022/09/9cups.jpg" >
        </div>
    </div>
    </div>

    <p class="text-sm text-center pt-8">wallet ID</p>
    <h2 class="font-bold text-4xl text-center">~wacdux-efktms</h2>
    <div class="text-center m-auto"><button class="btn gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
</svg>Recovery Phrase</button></div>

    <div class="card w-96 bg-base-100 shadow-xl">
  <div class="card-body">
    <p class="text-xs">Wallet Balance</p>
    <h2 class="card-title pb-8">$0.00</h2>
    
    <div class="card-actions justify-end">
      
<a role="button" class="btn">Withdraw</a>
<a role="button" class="btn btn-primary">Top-Up</a>
    </div>
  </div>
</div>

<div class="w-full absolute bottom-0">
<a role="button" class="btn btn-block" href="/">Back to Lobby</a>
</div>
</main>
{% endblock %}
