{% set title = 'Wallet' %}
{% extends "layout.njk" %}

{% block body %}
<main class="">

    <p class="text-sm text-center pt-8">wallet ID</p>
    <h2 class="font-bold text-4xl text-center">~wacdux-efktms</h2>

    <div class="text-center m-auto p-2">
      <button class="btn gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>Recovery Phrase
      </button>
    </div>

  <div class="flex justify-center">
    <div class="card w-96 bg-base-300 shadow-xl">
      <div class="card-body">
        <p class="text-xs">Wallet Balance</p>
        <h2 class="card-title pb-8">$0.00</h2>
        
        <div class="card-actions justify-end">     
          <a role="button" class="btn">Withdraw</a>
          <a role="button" class="btn btn-primary">Top-Up</a>
        </div>
      </div>
    </div>
  </div>

<div class="w-full absolute bottom-0">
<a role="button" class="btn btn-block" href="/">Back to Lobby</a>
</div>
</main>
{% endblock %}
